Source: pantheon-tweaks
Section: x11
Priority: optional
Maintainer: Felipe Escoto. <felescoto95@hotmail.com>
Build-Depends: debhelper (>= 10.5.1),
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libglib2.0-dev,
               libgee-0.8-dev,
               libswitchboard-2.0-dev,
               meson,
               valac (>= 0.30)
Standards-Version: 4.5.0
Homepage: https://github.com/pantheon-tweaks/pantheon-tweaks

Package: pantheon-tweaks
Architecture: any
Depends: gala, ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: switchboard
Description: Change hidden desktop settings
 Switchboard plug for controlling hidden options.

Package: pantheon-tweaks-dbg
Architecture: any
Section: debug
Priority: optional
Depends: pantheon-tweaks (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: pantheon-tweaks
Description: Change hidden desktop settings (debugging symbols)
 Switchboard plug for controlling hidden options.
 .
 This package contains debugging symbols for switchboard-plug-template.
