[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=elementary-tweaks
Comment=This application will be great
Exec=elementary-tweaks
Icon=elementary-tweaks.svg
Categories=GNOME;GTK;Development;
Terminal=false
X-GNOME-Gettext-Domain=elementary-tweaks
