settingssidebar {
    list {
        background: inherit;
        min-width: rem(200px);

        row,
        > .title-4 {
            padding: rem(6px);
        }

        row {
            overlay {
                // IconSize.LARGE + padding
                min-width: calc(32px + #{rem(6px)});
            }

            overlay:dir(ltr) {
                margin-right: rem(6px);
            }

            overlay:dir(rtl) {
                margin-left: rem(6px);
            }
        }
    }

    toolbarview {
        revealer.bottom-bar {
            color: #{'mix(@text_color, @insensitive_bg_color, 0.15)'};

            &.raised {
                box-shadow: 0 -1px #{'alpha(@highlight_color, 0.2)'};
                background-color: rgba(black, 0.01);
                background-image:
                    linear-gradient(
                        to bottom,
                        #{'@borders'} 1px,
                        rgba(black, 0.07) 1px,
                        transparent rem(3px)
                    );
            }

            &.raised.border {
                background: rgba(black, 0.03);
                box-shadow:
                    0 -1px #{'@borders'},
                    inset 0 1px #{'alpha(@highlight_color, 0.3)'};
            }

            actionbar {
                padding: rem(6px);

                box.start > label {
                    margin: rem(6px);
                    font-weight: 500;
                }

                box.end > switch {
                    slider,
                    trough {
                         min-height: 1.5em;
                    }

                    slider {
                         min-width: 1.5em;
                    }
                }
            }
        }
    }
}
