name: CI

on: pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        arch: [x86_64, aarch64]
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:7.3-${{ matrix.arch }}
      options: --privileged

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU for aarch64 emulation
        if: ${{ matrix.arch != 'x86_64' }}
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: pantheon-tweaks.flatpak
          manifest-path: io.github.pantheon_tweaks.pantheon-tweaks.yml
          run-tests: true
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          cache-key: "flatpak-builder-${{ github.sha }}"
          arch: ${{ matrix.arch }}

  lint:
    name: Lint
    runs-on: ubuntu-22.04
    container:
      image: valalang/lint
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: io.elementary.vala-lint -d .
