name: CI

on: pull_request

jobs:
  build_odin:
    name: Build (6.x)
    runs-on: ubuntu-20.04

    container:
      image: ghcr.io/elementary/docker:odin-stable

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y appstream libgranite-dev libgtk-3-dev libswitchboard-2.0-dev meson valac
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build
        ninja -C build
        ninja -C build install

  build_horus:
    name: Build (7.x)
    runs-on: ubuntu-22.04

    container:
      image: ghcr.io/elementary/docker:horus-stable

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y appstream libgranite-dev libgtk-3-dev libswitchboard-2.0-dev meson valac
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build
        ninja -C build
        ninja -C build install

  lint:
    name: Lint
    runs-on: ubuntu-22.04
    container:
      image: valalang/lint
    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: io.elementary.vala-lint -d .
